

.input {
  background-color: transparent;
  border: none;
  color: #0a0a15;
  width: 90%;
}

.input:focus {
  outline: none;
}

.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  width: 390px;
  height: 35px;
  background-color: #ededf6;
  border: 1px solid #ededf6;
  border-radius: 4px;
  font-size: 1rem;
}

.input::placeholder {
  color: #0a0a1579;
  font-size: 1rem;
}

.button-show-password{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.button-show-password:focus{
    outline: none;
}
