/* Inicio */

.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 32px;
  position: relative;
}

.title-div {
  color: #0a0a15;
  font-weight: 700;
  font-size: 2.29rem;
  width: 1090px;
}

.start-now-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.start-now-div button {
  width: 150px;
}

.div-arrow-down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 60px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease-in-out 0.4s;
}

.div-arrow-down:hover {
  background-color: #7d79e6;
}
/* Sobre */
.about-section {
  height: 50vh;
  color: #0a0a15;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.div-about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 30%;
  text-align: left;
  gap: 10px;
  padding: 2px;
}

.div-about-title h2 {
  display: flex;
  flex-direction: row;
}

.div-about-title h2 > span {
  display: flex;
  align-items: center;
}

.div-about-title p > span {
  font-weight: 700;
}

.div-about-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 30%;
  text-align: left;
  gap: 10px;
  padding: 2px;
}

.div-about-list p {
  font-size: 1.2rem;
  font-weight: 700;
}

.div-about-list ul {
  list-style-type: circle;
  padding: 0;
}

.div-about-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 30%;
  text-align: left;
  gap: 10px;
  padding: 2px;
}

/* Noticias */
.news-section {
  height: 50vh;
  color: #0a0a15;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.div-news-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 30%;
  text-align: left;
  gap: 10px;
  padding: 2px;
}

.div-news-title h2 {
  display: flex;
  flex-direction: row;
}

.div-news-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 30%;
  text-align: left;
  gap: 10px;
  padding: 2px;
}

.div-news-subtitle h3 {
  display: flex;
  flex-direction: row;
}

.div-news-subtitle h3 > span {
  display: flex;
  align-items: center;
}

.div-news-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 30%;
  text-align: left;
  gap: 10px;
  padding: 2px;
}

.div-news-end p > span {
  font-weight: 700;
}
