:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8f8fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #0a0a15;
  transition: all ease-in-out 0.3s;
  transition: border ease-in-out 0.3s;
  padding: 2px;
  position: relative;
}

a:hover::after {
  width: 100%;
}

a:hover{
  color: #4944ca;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #4944ca;
  left: 0;
  bottom: 0;
  transition: width 0.4s ease-in-out;
}

#root{
  height: 100vh;
  width: 100vw;
}

