* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-card {
  background-color: #d4d3f3;
  border-radius: 4px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 16px;
  color: black;
}

.div-subject {
  font-weight: 500;
  height: 19px;
}

.div-data-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 19px;
  font-weight: 400;
}

.div-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.75px;
}

.yellow {
  background-color: #dea03c;
  border-radius: 100%;
  height: 6.5px;
  width: 6.5px;
}

.green {
  background-color: #3cde3c;
  border-radius: 100%;
  height: 6.5px;
  width: 6.5px;
}

.red {
  background-color: #de3c3c;
  border-radius: 100%;
  height: 6.5px;
  width: 6.5px;
}
